/*
BEM = Bloque Elemento Modificador

Se usa siempre CLASS no ID.

Class = aplicar estilos
Id = aplicar funcionalidad (javascript)

.bloque
.bloque__elemento
.bloque__elemento--modificador


1. No usar ID
2. No usar etiquetas
3. Que todo sea un key selector (Seleccionar justo elemento al cual se le darán estilos.)

*/

/* FORMA BEM DE TRABAJAR: */

.cards {
    width: 400px;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid gray;
    box-shadow: 0px 0px 20px gray;
    border-radius: 5px;
}


.cards__card {
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;

    background-color: lightblue;
    margin: 5px;
} 


.card__title{
    font-size: 24px;
    font-weight: bold;
} 

/* clave */  /* key selector */
.card__link{
    background: green;
    color: white;
    padding: 10px;
    text-decoration: none;
} 


.card__link--rojo{
    background-color: red;
}




/* FORMA CLASICA DE TRABAJAR: */
/* .cards {
    width: 400px;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid gray;
    box-shadow: 0px 0px 20px gray;
    border-radius: 5px;
} */

/* CONTEXTO */  /* CLAVE */
/* .cards .card {
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;

    background-color: lightblue;
    margin: 5px;
} */

/* .cards .card h3 {
    font-size: 24px;
    font-weight: bold;
} */

/* .cards .card a {
    background: green;
    color: white;
    padding: 10px;
    text-decoration: none;
} */